body {
	width: 100%;
	float: center;
}
.menu {
	width: 70%;
}
.menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu li {
	float: left;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.social-media {
	width: 30%;
	position: relative;
	float: right;
}
.social-media ul{
	list-style-type: none;
    margin-top: -46px;
    padding: 0;
    overflow: hidden;
    background-color: #333;	
}

.social-media li{
	float: right;
}

.social-media li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 6px; 
    padding-bottom:6px; 
    padding-right: 5px;
}

.logo-sarch-wrap {
	height: 60px;
	background-color: DimGrey;
	position: relative;
	margin-top: -21px;
}

.logo-sarch-wrap h1{
	padding-top: 10px;
	color: #4CAF50;
}
