table, th, td {
    border: 1px solid black;
    width: 50%;
}

.assumption_table {
	width:50%;
	margin-bottom:90px; 
}
.user-data table{
	position: relative;
/*	text-align: center;
*/	width: 50%;
	float: right; 
	margin-top: -190px;
}


